PORT=4000
MQTT_HOST=846b59830ffc4bf3a613586a2414f8a4.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=polarsense
MQTT_PASSWORD=polarsense
MQTT_TELEMETRY_TOPIC=polarsenseai/buoy/telemetry
MQTT_TELEMETRY_WILDCARD=polarsenseai/buoy/+/telemetry
MQTT_COMMAND_TOPIC=polarsenseai/buoy/command
DATABASE_URL=postgresql://localhost:5432/polarsense
CORS_ORIGIN=http://localhost:5173